.banner{
    position: relative;
    width: 100%;
    padding: 200px 0;
    background: url('../img/banner.jpg') 50% 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}