@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@700;800&display=swap');
$primary-color: #44BC74;
$title-color: #202243;
$text-color: #959595;
$btn-color: #44BC74;
$title-font: 'Raleway', sans-serif;